.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 90%;
    margin: auto;
}
#services h3{
    font-size: 48px;
    line-height: 2;
    font-weight: bold;
}

@media only screen and (max-width: 1024px) {
    .service-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media only screen and (max-width: 688px) {
    .service-container{
        grid-template-columns: repeat(1, 1fr);
    }
    #services h3{
        font-size: 36px;
    }
    
}