.top-fold{
    background-image: url("https://i.ibb.co/ZzH2Kzg/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 688px){
    .top-fold {
        background-position: right;
}   
}