.banner-section{
    padding: 35vh 2vh;
    background-color: rgb(0 0 0 / 42%);
}
.banner-section h2{
    font-size: 60px;
    color: #2ed9db;
    font-weight: bold;
}
.banner-section p{
    font-size: 28px;
    color: cornsilk;
}
@media screen and (max-width:688px) {
    .banner-section{
        padding: 15vh 2vh;
    }
    .banner-section h2 {
        font-size: 36px;
        margin-top: 50px;
}
.banner-section p{
    font-size: 22px;
}
}

